<div class="container mt-4">
  <div class="row">
    {{!-- Users card --}}
    {{#if auths.ur}}
    <div class="col-sm-4">
      <a href="/admin/users" class="btn col-12">
        <div class="card text-dark bg-light border-dark">
          <div class="card-body">
            <h1>🤓</h1>
            <h5 class="card-title">Usuarios</h5>
            <p>Permisos de usuarios</p>
          </div>
        </div>
      </a>
    </div>
    {{/if}}
    {{!-- Calendar card --}}
    {{#if auths.cr}}
    <div class="col-sm-4">
      <a href="holidays" class="btn col-12">
        <div class="card text-dark bg-light border-dark">
          <div class="card-body">
            <h1>📆</h1>
            <h5 class="card-title">Calendario</h5>
            <p>Establecer festivos</p>
          </div>
        </div>
      </a>
    </div>
    {{/if}}
    {{!-- Records card --}}
    {{#if auths.rr}}
    <div class="col-sm-4">
      <a href="records" class="btn col-12">
        <div class="card text-dark bg-light border-dark">
          <div class="card-body">
            <h1>📓</h1>
            <h5 class="card-title">Registros</h5>
            <p>Tiempos en servicios</p>
          </div>
        </div>
      </a>
    </div>
    {{/if}}
  </div>
</div>