<div class="col-3">
    <h4>Gestión registros</h4>
    <div class="list-group">
        <a class="list-group-item {{#if uno}}active{{/if}}" href="/admin/records">En este momento...</a>
        <a class="list-group-item {{#if dos}}active{{/if}}" href="/admin/recordsLast">Últimas tareas finalizadas</a>
        <a class="list-group-item {{#if tres}}active{{/if}}" href="/admin/recordsUser">Informe por usuario</a>
        <a class="list-group-item {{#if cuatro}}active{{/if}}" href="/admin/addRecord">Añadir un fichaje</a>
    </div>
</div>